@import "react-tabs/style/react-tabs.css";
// @import "ace-builds/src-noconflict/mode-json";
// @import "ace-builds/src-noconflict/theme-github";
// @import "ace-builds/src-noconflict/ext-language_tools";

.react-tabs__tab {
  border-radius: 0;

  &::after {
    display: none;
  }
}

.remove-tab {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 3px 2px;

  &:hover {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
  }
}

.add-tab {
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.ace-editor {
  width: 100%;
}

.actions-navbar {
  margin-bottom: 10px !important;

  .nav-item {
    margin: 5px;
  }
}
